In [1]:
import pandas as pd

In [5]:
df = pd.read_excel('sampledatainsurance.xlsx',sheet_name='PolicyData')

In [14]:
df

,Policy,Expiry,Location,State,Region,InsuredValue,Construction,BusinessType,Earthquake,Flood
0,100242,2021-01-02,Urban,NY,East,1617630,Frame,Retail,N,N
1,100314,2021-01-02,Urban,NY,East,8678500,Fire Resist,Apartment,Y,Y
2,100359,2021-01-02,Rural,WI,Midwest,2052660,Frame,Farming,N,N
3,100315,2021-01-03,Urban,NY,East,17580000,Frame,Apartment,Y,Y
4,100385,2021-01-03,Urban,NY,East,1925000,Masonry,Hospitality,N,N
...,...,...,...,...,...,...,...,...,...,...
495,101121,2021-12-31,Urban,VT,Northeast,4101750,Fire Resist,Office Bldg,Y,Y
496,101122,2021-12-31,Urban,OH,Central,1739100,Frame,Apartment,N,N
497,101123,2021-12-31,Urban,NY,East,2250000,Frame,Office Bldg,Y,Y
498,101125,2021-12-31,Urban,NY,East,16482200,Frame,Office Bldg,Y,Y
499,101126,2021-12-31,Urban,WI,Midwest,1776800,Frame,Farming,N,N

In [15]:
df['State'].unique()

array(['NY', 'WI', 'IL', 'NJ', 'VT', 'OH', 'NH', 'MI', 'MN', 'ME'],
      dtype=object)

In [42]:
col = ['State','InsuredValue']
val = df['State'].unique()

In [34]:
piv = pd.DataFrame()
piv[val] = df.loc[df[col].isin(val).values]['InsuredValue'].sum()

In [37]:
df.loc[df[col].isin(val).values]['InsuredValue'].sum()

2482205481

In [62]:
df[df['State']=='NY']['Region'].unique()[0]

'East'

In [53]:
df.groupby(['State']).sum().sort_values(by='InsuredValue')

         Policy  InsuredValue
State
MN       201631       3139300
NH       705037       5362200
ME       402278       9936555
MI       705016      17888920
OH      1408168      31384673
IL      1410618      92880575
VT      2315669     122884213
NJ      7648432     333769700
WI      9260411     372707227
NY     26270750    1492252118

In [77]:
df

,Policy,Expiry,Location,State,Region,InsuredValue,Construction,BusinessType,Earthquake,Flood
0,100242,2021-01-02,Urban,NY,East,1617630,Frame,Retail,N,N
1,100314,2021-01-02,Urban,NY,East,8678500,Fire Resist,Apartment,Y,Y
2,100359,2021-01-02,Rural,WI,Midwest,2052660,Frame,Farming,N,N
3,100315,2021-01-03,Urban,NY,East,17580000,Frame,Apartment,Y,Y
4,100385,2021-01-03,Urban,NY,East,1925000,Masonry,Hospitality,N,N
...,...,...,...,...,...,...,...,...,...,...
495,101121,2021-12-31,Urban,VT,Northeast,4101750,Fire Resist,Office Bldg,Y,Y
496,101122,2021-12-31,Urban,OH,Central,1739100,Frame,Apartment,N,N
497,101123,2021-12-31,Urban,NY,East,2250000,Frame,Office Bldg,Y,Y
498,101125,2021-12-31,Urban,NY,East,16482200,Frame,Office Bldg,Y,Y
499,101126,2021-12-31,Urban,WI,Midwest,1776800,Frame,Farming,N,N

In [85]:
pivots = []
for val in df['Location'].unique():
    pivot = pd.pivot_table(df[df['Location']==val], values='InsuredValue',index=['State','Region','Location'])
    pivots.append(pivot.sort_values(by='InsuredValue'))

In [87]:
pivots[0]

                          InsuredValue
State Region    Location
NH    Northeast Urban     7.660286e+05
MI    Central   Urban     1.211853e+06
MN    Midwest   Urban     1.569650e+06
OH    Central   Urban     2.241762e+06
ME    Northeast Urban     2.484139e+06
NJ    East      Urban     4.391707e+06
WI    Midwest   Urban     4.434660e+06
VT    Northeast Urban     6.348877e+06
NY    East      Urban     6.513629e+06
IL    Midwest   Urban     7.943684e+06